<div id="user-profile" class="col-sm-6 col-sm-offset-3">
  <div class="row">
    <div class="user-info col-sm-3">
      <a href="/users/<%= @user.id %>/photo"><img src="<%= get_user_img %>"></a>
      <h2><%= @user.name %></h2>
      <h3><%= @user.team.team_name %></h3>
      <p class="grey"><%= @user.created_at.to_s(:long) %></p>
    </div>
    <div class="col-sm-9 stories">
      <div class="story-group">
        <header>Written Stories</header>
        <% @user.stories.each do |story| %>
          <a href="/stories/<%= story.id %>/edit" class="story-row"><%= story.role %> should be able to <%= story.goal.downcase %><span class="fui-arrow-right float-right"></span></a>
      <% end %>
      </div>
      <div class="story-group">
        <header>Assigned Stories</header>
        <% @stories.where(assignee: @user.id).each do |assigned_story| %>
          <a href="/stories/<%= assigned_story.id %>/edit" class="story-row"><%= assigned_story.role %> should be able to <%= assigned_story.goal.downcase %><span class="fui-arrow-right float-right"></span></a>
        <% end %>
      </div>
      <div class="story-group">
        <header>Completed Stories</header>
      </div>
    </div>
  </div>
</div>
<%= erb :'/users/_sidebar' %>
