<div class="form-group">
  <label class="col-sm-3 control-label">As a </label>
  <div class="col-sm-9">
    <input type="text" autofocus = "autofocus" required name="story[role]" class="form-control role" value="<%= @story.role if @story %>">  
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">I should be able to </label>
  <div class="col-sm-9">
    <input type="text" required name="story[goal]" class="form-control" value="<%= @story.goal if @story %>">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Because </label>
  <div class="col-sm-9">
    <input type="text" required name="story[benefit]" class="form-control" value = "<%= @story.benefit if @story %>">
  </div>
</div>

<p class="grey col-sm-9 col-sm-offset-3">The following fields are optional</p>

<div class="form-group">
  <label class="col-sm-3 control-label">Additional details </label>
  <div class="col-sm-9">
    <textarea name="story[fftext]" class="form-control" rows="5">
      <%= @story.fftext if @story %>
    </textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Assignee </label>
  <div class="col-sm-3">
    <select class="form-control" name="story[assignee_id]" >
      <option disabled selected></option>
      <% @users.each do |user| %>    
      <% if user.id == @story.assignee_id %>
      <option value="<%= user.id %>" selected><%= user.name %></option>
      <% else %>
      <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
      <% end %>
    </select>  
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Priority </label>
  <div class="col-sm-2">
    <select class="form-control" name="story[priority]">
      <option disabled selected></option>
      <% [1,2,3,4,5].each do |num| %>
      <% if num == @story.priority %>
      <option value="<%= num %>" selected><%= num %></option>
      <% else %>
      <option value="<%= num %>"><%= num %></option>
      <% end %>
      <% end %> 
    </select>
  </div>
</div>




