<div class = "row">
  <form method="post" action="/stories/edit" class="form-horizontal col-md-offset-3 col-md-6 container-dark">
    <div class = "container-dark edit">
      <div class = "col-md-6">
        <h2>Edit Story</h2>
      </div>
      <div class = "col-md-6 story-details">
        <div>
          <header>Story #<%= @story.id %> details</header>
          <div class = "thumb">
          <% if @story.user.file.file %>
           <img src="<%= @story.user.file %>" class = "thumb" />
           <% else %>
           <img src="https://www.libstash.com/public/avatars/default.png" class = "thumb" />
           <% end %>
         </div>
         <div class = "details-items">
          <ul>
            <li>Created by: <a href="/users/<%= @story.user.id %>"><%= @story.user.name %></a></li>
            <li>Created on: <%= @story.created_at.strftime("%m-%d-%Y%l:%M %p") %></li>
            <% if @story.updated_at > @story.created_at %>
            <li>Updated on: <%= @story.updated_at.strftime("%m-%d-%Y%l:%M %p") %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class = "edit-story">
    <div class = "clear-both"></div>
    <input type="hidden" name="id" value="<%= @story.id %>">
    <%= erb :"stories/_form" %>
    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-9">
        <input type="submit" value="Update" class="btn btn-primary btn-lg btn-block">
      </div>
    </div>
  </div>
</form>
</div>
