<!-- <p>team members</p>
<% @team.each do |team_member| %>
  <%= team_member.name  %>
<% end %> -->

<div class="container-dark col-sm-8 col-sm-offset-2">
  <h1>All Stories</h1>

  <div class="col-sm-12" id="story-table">
    <header class="row">
      <div class="col-sm-1">ID</div>
      <div class="col-sm-6">Title</div>
      <div class="col-sm-2">Creator</div>
      <div class="col-sm-2">Assignee</div>
      <div class="col-sm-1">Priority</div>
    </header>
    <% @stories.each do |story| %>
      <div class="row story-row">
        <div class="col-sm-1"><a href="/stories/<%= story.id %>/edit"><%= story.id %></a></div>
        <div class="col-sm-6"><a href="/stories/<%= story.id %>/edit"><%= story.role %> should be able to <%= story.goal.downcase %></a></div>
        <div class="col-sm-2"><a href="/users/<%= story.user.id %>"><%= story.user.name %></a></div>
        <div class="col-sm-2"><a href="/users/<%= story.assignee.id %>"><%= story.assignee.name %></a></div>
        <div class="col-sm-1"><a href="/stories/<%= story.id %>/edit"><%= story.priority %></a></div>
      </div>
    <% end %>
  </div>
</div>