<div class = "wrapper">
  <div class = "main">
    <h1>All Stories</h1>
    <div class="stories-list">
      <table width = 100% class="table table-striped">
        <tr>
          <th>
            ID
          </th>
          <th>
            Summary
          </th>
          <th>
            Creator
          </th>
          <th>
            Assignee
          </th>
        </tr>
        <% @stories.each do |stories| %>
        <% # Need to filter out completed and invisible %>
        <tr>
          <td>
            <%= stories.id %>
          </td>
          <td>
            <%= stories.role %> should be able to <%= stories.goal.downcase %>
          </td>
          <td>
            <%= stories.user.name %>
          </td>
          <td>
            <%= stories.assignee.name %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<div>

