<!-- <p>team members</p>
<% @team.each do |team_member| %>
  <%= team_member.name  %>
<% end %> -->

<div class="col-sm-8 col-sm-offset-2">
  <div class="row">
    <div class="col-sm-1">ID</div>
    <div class="col-sm-6">Title</div>
    <div class="col-sm-2">Creator</div>
    <div class="col-sm-2">Assignee</div>
    <div class="col-sm-1">Priority</div>
  </div>
  <% @stories.each do |story| %>
    <div class="row">
      <div class="col-sm-1"><%= story.id %></div>
      <div class="col-sm-6"><%= story.role %> should be able to <%= story.goal.downcase %></div>
      <div class="col-sm-2"><%= story.user.name %></div>
      <div class="col-sm-2"><%= story.assignee.name %></div>
      <div class="col-sm-1"><%= story.priority %></div>
    </div>
  <% end %>
</div>