<%= flash[:notice] = 'Your story was successfully created' %>

<div class = "wrapper">
  <div class = "main">
    <h1>All Stories</h1>
    <div class="stories-list">
      <table width = 100% class="table table-striped">
        <tr>
          <th>
            ID
          </th>
          <th>
            Summary
          </th>
          <th>
            Creator
          </th>
          <th>
            Assignee
          </th>
        </tr>
        <% @stories.each do |stories| %>
        <% # Need to filter out completed and invisible %>
        <tr>
          <td>
            <%= stories.id %>
          </td>
          <td>
            <a href="/stories/<%= stories.id %>/edit"><%= stories.role %> should be able to <%= stories.goal.downcase %></a>
          </td>
          <td>
            <a href="/users/<%= stories.user_id %>"><%= stories.user.name %></a>
          </td>
          <td>
            <a href="/users/<%= stories.assignee_id %>"><%= stories.assignee.name %></a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <p>team members</p>
    <% @team.each do |team_member| %>
      <%= team_member.name  %>
    <% end %>

  </div>
<div>

