<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/flat-ui.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>User Story Generator</title>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Thumpr</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main"></button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <div class="nav navbar-nav navbar-left">
        <% if user_logged_in? %>
          <li><a href="/stories">All Stories</a></li>
          <li><a href="/stories/new">New Story</a></li>
        <% end %>
      </div>
      <div class="nav navbar-nav navbar-right">
        <% if user_logged_in? %>
          <li><a href="/users/<%= get_current_user.id %>"><%= get_current_user.name %></a></li>
          <li><a href="/session">Sign Out</a></li>
        <% else %>
          <li><a href="/users/new">Register</a></li>
          <li><a href="/session/new">Sign In</a></li>
        <% end %>
      </div>
    </div>
  </nav>
  <% if flash[:notice] %>
    <div id='flash' class='alert alert-success custom-alert' >
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div id='flash' class='alert alert-danger custom-alert'>
      <%= flash[:error] %>
    </div>
  <% end %>



  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/flat-ui.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
